@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Gilroy";
    src: url("../public/fonts/Gilroy-Black.ttf") format("truetype");
    font-weight: bold;
  }

  @font-face {
    font-family: "Gilroy";
    src: url("../public/fonts/Gilroy-Medium.ttf") format("truetype");
    font-weight: 500;
  }
  @font-face {
    font-family: "Gilroy";
    src: url("../public/fonts/Gilroy-SemiBold.ttf") format("truetype");
    font-weight: bolder;
  }
  @font-face {
    font-family: "Georgia Pro";
    src: url("../public/fonts/GeorgiaPro-CondRegular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Georgia Pro";
    src: url("../public/fonts/GeorgiaPro-SemiBold.ttf") format("truetype");
    font-weight: bolder;
  }

  @font-face {
    font-family: "Georgia Pro";
    src: url("../public/fonts/GeorgiaPro-CondBold.ttf") format("truetype");
    font-weight: bold;
  }

  @font-face {
    font-family: "Georgia Pro";
    src: url("../public/fonts/GeorgiaPro-CondLight.ttf") format("truetype");
    font-weight: light;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}
